<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>About Us • DankZone</title>
  </head>

  <body>
    <!-- Preloader Start -->
    <div id="preloader">
      <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <%- include('partials/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
            <div class="wellcome-heading">
              <h2>DankZone</h2>
              <h3>About</h3>
              <p>We have quite the story to tell you.</p>
            </div>
            <div class="get-start-area"></div>
          </div>
        </div>
      </div>

      <!-- Welcome thumb -->
      <div class="welcome-thumb wow fadeInUp" data-wow-delay="0.5s"></div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
              <h2>About Us</h2>
              <div class="line-shape"></div>
            </div>
          </div>
        </div>
        <p>
          We first started off as a pretty small Discord server run by a few
          friends. Now we have dedicated trustworthy admins and loyal co-owners
          to make our job just that much easier.<br />

          Dhon was the main person that made the server, he is your lord and
          saviour, praise him 24/7 and give him 20 bucks each to join his
          server.<br />

          Our Discord server was originally created to be a community Discord
          server for
          <a href="https://www.youtube.com/channel/UCLbN3R9EzPi8GPoH2S6JBBg"
            >Whiffle TF2</a
          >, but that small community has grown to something much bigger.<br />

          But how did the server grow from less than 10 people to the number we
          have today? In short, we banded together with more people (me
          included). So our server of less than 10 friends managed to grow to a
          huge team with many followers, which is what you see today (example
          below).<br />
          <br />
          Just take a look at our Discord server now, we wouldn't have ever
          gotten this far without our amazing team.
          <iframe
            src="https://discordapp.com/widget?id=344369585950294016&theme=dark"
            width="900"
            height="800"
            allowtransparency="true"
            frameborder="0"
          ></iframe>
          <br />
          <br />
          <br />
          <br />
        </p>
      </div>
    </section>

    <!-- ***** Contact Us Area Start ***** -->
    <%- include('partials/contact.ejs') %>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <%- include('partials/footer.ejs') %>
    <!-- ***** Footer Area Start ***** -->

    <%- include('partials/footer-scripts.ejs') %>
  </body>
</html>
