<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>Home - DankZone</title>
  </head>

  <body>
    <!-- Preloader Start -->
    <div id="preloader">
      <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <%- include('partials/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
            <div class="wellcome-heading">
              <h2>DankZone</h2>
              <h3>Dz</h3>
              <p>The Discord server, not the friend zone.</p>
            </div>
            <div class="get-start-area"></div>
          </div>
        </div>
      </div>
      <!-- Welcome thumb -->
      <div class="welcome-thumb wow fadeInUp" data-wow-delay="0.5s"></div>
    </section>

    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Description Area Start ***** -->
    <section
      class="server-description-area section_padding_100"
      id="description"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
              <h2>Welcome to the DankZone server website!</h2>
              <div class="line-shape"></div>
              <h4>
                <br />This is a website made for our
                <a href="https://discordapp.com/invite/gwamp7n">Discord</a> and
                Minecraft server.<br />
              </h4>
              <br />
              <p>
                These days a Discord server can be anything.<br />
                This server is focused on a building a gaming (and meme)
                community. The original concept was to be a server only for
                YouTube viewers, but we've expanded that goal to maybe one day
                create an esports team from just our Discord server. Don't click
                off yet! Because we still need to get you into our server. So
                stick around.<br />
                <br />
                We have a brief explanation of our Discord server in our
                <a href="./about.html">about page</a>.<br />
                When you join our server we will almost always have an Admin to
                welcome you and show you around.<br />
                We have special roles on our server for people with selected
                linked accounts (eg: Gamer for linked Steam account)<br />
                <br />
                We have text channels for almost everything so you can talk
                about anything.<br />
                If you want to talk to a human then we have a few voice channels
                that are added and removed based on demand.<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Description Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <%- include('partials/bots.ejs') %>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Our Team Area Start ***** -->
    <section
      class="our-Team-area bg-white section_padding_100_50 clearfix"
      id="team"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <!-- Heading Text  -->
            <div class="section-heading">
              <h2>Our Team</h2>
              <div class="line-shape"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-3.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UC61EZ-0G6mVuu8ttHVDxryA"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>DhonBuri</h4>
                <p>CEO/Co-Founder</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-1.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCvtR1-h7I7GXQ7_XMp4JC2A"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="https://twitter.com/LeoDoesThingz"
                      ><i class="fab fa-twitter" aria-hidden="true"></i
                    ></a>
                    <a href="mailto:ldt@dankzone.ml">
                      <i class="fas fa-envelope" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>LeoDoesThings</h4>
                <p>COO/Co-Founder</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-2.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCLbN3R9EzPi8GPoH2S6JBBg"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>Whiffle</h4>
                <p>Co-Founder</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-4.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCsO0Uk10Uwail8evggwa7EA"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>ReturnTheBigMac</h4>
                <p>Co-Founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <%- include('partials/contact.ejs') %>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <%- include('partials/footer.ejs') %>
    <!-- ***** Footer Area End ***** -->

    <%- include('partials/footer-scripts.ejs') %>
  </body>
</html>
