<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>Thank You - DankZone</title>
  </head>

  <body>
    <!-- Preloader Start -->
    <div id="preloader">
      <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <%- include('partials/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
            <div class="wellcome-heading">
              <h2>DankZone</h2>
              <h3>Donor</h3>
              <p>Thank you for your donation, we really appreciate it!</p>
            </div>
            <div class="get-start-area"></div>
          </div>
        </div>
      </div>

      <!-- Welcome thumb -->
      <div class="welcome-thumb wow fadeInUp" data-wow-delay="0.5s"></div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
              <h2>Thank You</h2>
              <div class="line-shape"></div>
            </div>
          </div>
        </div>
        <p>
          <b
            >Everyone at DankZone appreciates your donation. Thank you for
            generously donating us some money.</b
          ><br />
          <br />
          We know that giving up your money is hard, so we want you to know that
          we appreciate that you set aside some of your savings for us.<br />
          <br />
          <br />
        </p>
      </div>
    </section>

    <!-- ***** Contact Us Area Start ***** -->
    <%- include('partials/contact.ejs') %>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <%- include('partials/footer.ejs') %>
    <!-- ***** Footer Area Start ***** -->

    <%- include('partials/footer-scripts.ejs') %>
  </body>
</html>
